@page {
    size: A4 Portrait;
    margin: 5mm;
}

.first{
    width: 7.5in;
    height:10.5in;
    margin: auto;
    background:  url("../permit_certificate/assets/NIWA_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: double;
    border-color: rgb(146, 145, 145);
    border-width: 5 px;
}

.third{
    width: 620px;
    margin: auto;
    border-width: 5px;
}


/*  LOGOS DIV */
.logo-div{
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
    margin: 80px auto;
    padding-top: 70px;
    padding-left: 20px;
}

.logo-info{
    text-align: center;
}

#nigeria{
    color: rgb(34, 133, 34);
    font-weight: bolder;
    margin-bottom: 1px;
    font-size: x-large;
}

#niwa{
    font-family: 'Noto Sans', sans-serif;
    font-size:100%;
    margin-top: 0;
    padding: 5px;
    font-weight:900;
}
#motto{
    font-family: 'Lora', serif;
    font-size: x-small;
    color: rgb(250, 77, 77);
    margin-top: 0;
}


/* Certificate content */
.content-div{
    text-align: center;
    margin-top: 25px;
}
.content-div h1{
    font-size: 3.0em;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;
}

.part-1 input[type="text"]{
    border: none;
    width: 90%;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    background: none;
}

.grey-container{
    width: 60%;
    margin: 0px auto;
}

.grey-color{
    color: rgb(117, 117, 117);
    font-weight: bold;
}


.part-2{
    margin-top: 40px;
}

.part-2 input[type='text']{
    border: none;
    margin-top: 35px;
    width: 90%;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    background: none;
}

/* Signature div */
.sig{
    margin-top: 70px;
    font-weight: bold;
}

.sig input[type='text']{
    border : none;
    text-align: center;
    font-size: 1rem;
    background: none;
    font-weight: 600;
    font-weight: bold;
}

.sig2{
    margin-top: 50px;
    font-weight: bold;
}

.sig2 input[type='text']{
    margin-top: 60px;
    border: none;
    background: none;
}

.cert_no{
    float: left;
    font-weight: bold;
    margin-left: 73px;
    margin-top: 73px;
}

.cert_no input[type='text']{
    border:none;
    background: none;
}
